.header{
  display: flex;
  height: 150px;
  padding: 10px;
  background: #ffd400;
}

.text{
  margin-top:15px;
  font-size: 100px;
  font-family: 'Patua One', cursive;
}

.yp{
  background-color: black;
  color:white;
  padding-left:5px;
  padding-right:5px;
  padding-bottom: 5px;
  border-radius: 5%;
  text-decoration: underline #ffd400;
}

.button{
  background-color:#ffd400;
  font-family: 'Patua One', cursive;
  color: black;
  font-size:20px;
  font-weight: bold;
  padding: 16px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
  border-radius: 5%;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
}

.buttonBox{
  display:flex;
}
