.header{
  display: flex;
  height: 150px;
  padding: 10px;
  background:black;
}

.text{
  margin-top:15px;
  font-size: 100px;
  font-family: 'Patua One', cursive;
  color:white;
  text-decoration: underline #ffd400;
}

.button{
  background-color:#ffd400;
  font-family: 'Patua One', cursive;
  color: black;
  font-size:20px;
  font-weight: bold;
  padding: 16px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5%;
  cursor: pointer;
  width: 25%;
  opacity: 0.9;
}