.header{
  display:flex;
  justify-content: center;
  flex-direction:column;
  margin-top: -10.2px;
  margin-bottom: -8px;
  margin-left:-0.5px;
  background-color: #ffd400;
}

.title{
  margin-left: 120px;
  font-family: 'Patua One', cursive;
  font-weight:bold;
}

.subHeader{
  justify-content: center;
  font-family: 'Patua One', cursive;
  font-size:10px;
  margin-left:65px;
}



.input{
  width: 85%;
  padding: 15px 10px 15px 10px;
  margin-top:5px;
  margin-bottom:5px;
  border: none;
  background: white;
}

.name{
  width: 38%;
  padding: 15px 10px 15px 10px;
  margin-top:5px;
  margin-bottom:5px;
  border: none;
  background: white;
}

#firstName{
  margin-right:2.5%
}

#lastName{
  margin-left:1%
}

.nameInput{
  display: flex;
  justify-content: center;
}

.formInputs{
  display: flex;
  justify-content: center;
}

.form{
  display: flex;
  flex-direction: column;
}

.box{

  border: 1px solid #000;
  max-width: 500px;
  /* padding: 10px */
  padding-top:10px;
  padding-bottom: 10px;
}

.boxPlacement{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonBox{
  display:flex;
  justify-content: center;
}

.button{
  background-color:#ffd400;
  color: black;
  font-weight: bold;
  padding: 16px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5%;
  cursor: pointer;
  width: 40%;
  opacity: 0.9;
}

.disclaimer{
  display: flex;
  justify-content: center;
  font-family: 'Patua One', cursive;
  font-size: 10px
}

#cancel{
  margin-right:1%
}

#signUp{
  margin-left:1%
}

